*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color:  #444;
    height: 60px;
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 100;
}
nav .left{
    display: flex; 
    align-items: center;
    margin-left: 60px;   
}
    nav .left ul{
        display: flex;
        align-items: center;
        margin-left: -1px;
    }
    nav .left li a{
        color: white;
        font-size: 18px;
        margin: 0px;
        padding: 18px;
    }
    nav .left li a:hover{
        background-color: silver;
        
    }
    nav .left .photo{
        height: 100%;
        padding: 12px 18px;
    }
    nav .left .photo:hover{
        background-color: silver;
    }
    nav .left img{
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }
  nav .right{
    display: flex;
    align-items: center;
    margin-right: 55px;
  }
  nav .right ul{
    display: flex;
    height: 60px;
    padding-left: 10px;
}
    nav .right i{
    color: white;
    padding: 23px;
    font-size: 18px;
   } 
   nav .right ul:hover{
    background-color: silver;
   }
   nav .right p{
    color: white;
    margin-top: 23px;
    margin-right: -15px;

   }
   nav .right ul li img {
    width: 170px;
    margin-left: -10px;
    height: 60px;
   }
    



.centre{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("pexels-ksenia-chernaya-3965534.jpg");
    width:100%;
    height:100vh;
    background-size:cover;
    background-repeat:no-repeat ;
    background-position: center;
}
.talk{
    margin: 200px 100px 0px 100px;
    font-size: 40px;
    font-weight: normal;
    color: #232222;
    
}
.centre .talk h4{
    margin-left: 200px;
    font-size: 22px;
}
.centre .search{
    margin: 30px 100px 100px;
    position: relative;
    
}
.centre .search input{
    width: 750px;
    height: 60px;
    font-size: 20px;
}
.centre .search ::placeholder{
    position: absolute;
    margin-left:530px;
    margin-top: 15px;
}
.centre .search h3{
    height: 50px;
    width: 50px;
    position: absolute;
    margin:-55px;
    margin-left: 30px;
    border: 1px solid;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    background-color: green;
}
.centre .search h3:hover{
    background-color: rgb(3, 66, 3);
}

.head{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 35px;
}
.class{
    display: flex;
    height: 300px;
    padding-left: 50px;
}
.class .con{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}
.img{
    height: 100%;
    width: 100%;
    width: 300px;
    position: absolute;
    z-index: -1; 
}
.col{
    color: rgb(255, 0, 0);
}
.general .talk{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 20px;
}
.general .talk p{
    color: black;
    font-size: 25px;
}
.general .talk input {
    border: 1px solid rgba(0, 128, 0, 0.471);
    height: 50px;
    width: 100px;
    color: rgb(5, 101, 5);
    font-size: 15px;
}
.general .talk input:hover{
    background-color: rgb(75, 164, 75);
    color: white;
}
.prag{
    margin: -5px;
    padding-left: 220px;
}
.content .prog img {
    width: 300px;
}

.content{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    margin-bottom: -150px;
    
}
.afef{
    color: rgba(152, 148, 148, 0.711);
    margin-left: 130px;
}
.general{
    background-color: rgba(192, 192, 192, 0.307);
}
.last{
    background-color: rgba(192, 192, 192, 0.307);
    margin: 150px 0px;
    padding: 150px 150px 0px 150px;
}
.ques{
    height: 100%;
    width: 124%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-left:-150px;
    padding: 100px;
}
.question{
    color: green;
}
.quest{
    list-style-type: none;
}
.lastt{
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding-top: 10px;
}
.lastt a{color: black;}
.lasst{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.last .mod .mod1{
    padding-left: 230px;
}
footer{
    height: 150px;
    align-items: center;
}
.foot{ 
    display: flex;
    justify-content: center;
    margin-top: -100px;
}
a {text-decoration: none; }
.fooot{
    display: flex;
    justify-content:center;
}
footer .fooot a{
    margin: 5px;
    color: black;
    font-size: 15px;
}
.feet{
    margin-left: 120px;
    
}
.fot{
    display: flex;
    justify-content: center;
    margin-left: 500px;
}
.feeet{
    margin-left: 80px;
}
ul{
    list-style-type: none;
}
footer .fot a{
    margin: 5px;
    color: black;
    font-size: 15px;
}


